<div class="ui  cards justify-content-center mt-5 " style="">
    <div class="card animated pulse delay-1s">
        <div class="image" style="background-color: #4A7AFF">
            <img src="/assets/img/helmet.svg">
        </div>
        <div class="content">
            <div class="header" style="text-align: center;">Ingresar al portal</div>
            <div class="description justify-center">
                <!--imput ingresar usuario-->

                <div class="ui left icon input ml-4">
                    <i class="user icon"></i>
                    <input type="text" name="usuario" placeholder="">
                </div>
                <!--mensajito bien culero-->
                <div class="ui pointing label" id="">
                    ingresar usuario
                </div>
                <!--contraseña-->
                <div class="ui left icon input mt-3 ml-4">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <!--mensajito bien culero-->
                <div class="ui pointing label">
                    Ingrese contraseña
                </div>
            </div>
        </div>
        <div class="extra content " style="align-content: center;text-align: center;">

            <div class="ui animated button justify-center inverted blue " tabindex="0">
                <div class="visible content">Ingresar</div>
                <div class="hidden content">
                    <i class="right arrow icon"></i>
                </div>
            </div>


        </div>
    </div>


</div>